{% extends "base.html" %} {% block content %}

<div class="profile-page">
  <nav>
    <a href="{% url 'view_profile' %}">Profile</a>
    <a href="{% url 'docs' %}">Docs</a>
    <a href="{% url 'favourites' %}">Favourites</a>
  </nav>

  <section>
    <div>
      <a href="{% url 'create_post'  %}"> + Create Post </a>
    </div>
    {% if docposts %} {% for docpost in docposts %}
    <h3>{{ docpost.title }}</h3>

    <p>{{ docpost.date }}</p>
    <p>{{ docpost.excerpt }}</p>

    <a
      href="{% url 'docpost_detail' docpost.slug %}"
      aria-label="Will redirect to {{ docpost.title}}">
      View</a
    >

    <a
      href="{% url 'update_docpost' docpost.id %}"
      aria-label="Will redirect to {{ docpost.title}}">
      Update Post</a
    >

    <form
      action="{% url 'delete_docpost' docpost.id %}"
      method="post"
      onsubmit="deletePost()">
      {% csrf_token %}
      <button type="submit">Delete Document</button>
    </form>

    {% endfor %} {% endif %}
  </section>
</div>

{% endblock %}
