{% extends "base.html" %} {% block content %}

<div class="profile-page container">
  <nav class="secondary-navbar">
    <ul>
      <li>
        <a
          href="{% url 'view_profile' %}"
          aria-label="Redirect to users profile"
          ><i class="far fa-id-card"></i>Profile </a
        >
      </li>
      <li>
        <a href="{% url 'docs' %}" aria-label="Redirect to users Docs"> <i class="fas fa-code"></i>Docs</a>
      </li>
      <li>
        <a
          href="{% url 'favourites' %}"
          class="active"
          aria-label="Redirect to users Favourites"
          ><i class="fas fa-bookmark"></i>Favourites</a
        >
      </li>
    </ul>
  </nav>

  <section>

    {% if favourites %} {% for favourite in favourites %}
    <h3>{{ favourite.title }}</h3>

    <p>{{ favourite.date }}</p>
    <p>{{ favourite.excerpt }}</p>

    <a
      href="{% url 'docpost_detail' favourite.slug %}"
      aria-label="Will redirect to {{ favourite.title}}">
      View</a
    >



    {% endfor %} {% endif %}
  </section>
</div>

{% endblock %}
