{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container login-page">
        <h1>{% trans "Sign In" %}</h1>
        <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
        </form>


        <div class="">
        {% load socialaccount %}
        <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button type="submit">SIGN IN WITH GOOGLE</button>
        </form>
        </div>

    <h3>
        Need an account ? 
    </h3>
    <a href="{% url 'account_signup' %}" class="button" aria-label="Redirects to create an account page">Create Account</a>
</div>
{% endblock %}