{% extends "base.html" %} {% block content %}

<div class="profile-page container">
  <nav class="secondary-navbar">
    <ul>
      <li><a href="{% url 'view_profile' %}" class="active" aria-label="Redirect to users profile">Profile</a></li>
      <li>
        <a href="{% url 'docs' %}" aria-label="Redirect to users Docs">Docs</a>
      </li>
      <li>
        <a href="{% url 'favourites' %}" aria-label="Redirect to users Favourites">Favourites</a>
      </li>
    </ul>
  </nav>

  <section id="Profile">
    <h1>{{ profile.user }}</h1>
    <p>{{ profile.name }}</p>
    <p>{{ profile.email }}</p>
    <p>{{ profile.title }}</p>
    <span> {{ profile.birth_date }} </span>
    {% autoescape off %}
    <p>{{ profile.bio|safe }}</p>
    {% endautoescape %} {% if "placeholder" in profile.image.url %}
    <img
      src="https://res.cloudinary.com/dtycp96d8/image/upload/v1699567764/he7p20dklbt6lvtnmm38.png"
      width="100%" />
    {% else %}
    <img src="{{ profile.image.url }}" width="100%" />
    {% endif %}

    <a href="{% url 'update_profile' profile.user.id %}"> Update Profile >></a>
  </section>
</div>

{% endblock %}
