{% extends "base.html" %} {% block content %}

<div class="profile-page">
  <div class="tab">
    <button
      class="tablinks"
      onclick="openTab(event, 'Profile')"
      id="defaultOpen">
      Profile
    </button>
    <button class="tablinks" onclick="openTab(event, 'Docs')">Docs</button>
  </div>

  <div id="Profile" class="tabcontent">
    <h1>{{ profile.user }}</h1>
    <p>{{ profile.name }}</p>
    <p>{{ profile.email }}</p>
    <p>{{ profile.title }}</p>
    <span> {{ profile.birth_date }} </span>
    {% autoescape off %}
    <p>{{ profile.bio|safe }}</p>
    {% endautoescape %} {% if "placeholder" in profile.image.url %}
    <img
      src="https://res.cloudinary.com/dtycp96d8/image/upload/v1699567764/he7p20dklbt6lvtnmm38.png"
      width="100%" />
    {% else %}
    <img src="{{ profile.image.url }}" width="100%" />
    {% endif %}

    <a href="{% url 'update_profile' profile.user.id %}"> Update Profile >></a>
  </div>

  <div id="Docs" class="tabcontent">
    {% if docposts %} {% for docpost in docposts %}
    <h3>{{ docpost.title }}</h3>

    <p>{{ docpost.date }}</p>
    <p>{{ docpost.excerpt }}</p>

    <a
      href="{% url 'docpost_detail' docpost.slug %}"
      aria-label="Will redirect to {{ docpost.title}}">
      View</a
    >

    <form
      action="{% url 'delete_docpost' docpost.id %}"
      method="post"
      onsubmit="deletePost()">
      {% csrf_token %}
      <button type="submit">Delete Document</button>
    </form>

    {% endfor %} {% endif %}
  </div>
</div>

{% endblock %}
