{% extends "base.html" %} 
{% block title %} Profile - {{ profile.user }}- DocuMe{% endblock %}
{% block content %}
<!-- PROFILE SECTION -->
<div class="profile-page container">
  <nav class="secondary-navbar">
    <ul>
      <li>
        <a
          href="{% url 'view_profile' %}"
          class="active"
          aria-label="Redirect to users profile"
          ><i class="far fa-id-card"></i>Profile </a
        >
      </li>
      <li>
        <a href="{% url 'docs' %}" aria-label="Redirect to users Docs"> <i class="fas fa-code"></i>Docs</a>
      </li>
      <li>
        <a
          href="{% url 'favourites' %}"
          aria-label="Redirect to users Favourites"
          ><i class="fas fa-bookmark"></i>Favourites</a
        >
      </li>
    </ul>
  </nav>
<!-- PROFILE INFORMATION -->
  <section class="profile">
    <div class="profile-grid">
      <div class="content-section">
        <h1 class="profile-title">{{ profile.user }}</h1>
        <p>{{ profile.name }} </p>        
        <p>{{ profile.email }}</p>
        <p>{{ profile.title }}</p>
        <span>Birthdate: {{ profile.birth_date }} </span>
        <div class="bio">{{ profile.bio|safe }}</div>
      </div>
      <div class="image-container">
        {% autoescape off %} {% endautoescape %} 
        {% if "placeholder" in profile.image.url %}
        <img
          src="https://res.cloudinary.com/dtycp96d8/image/upload/v1699567764/he7p20dklbt6lvtnmm38.png"
          alt="Profile placholder image of {{ profile.user }}"
          class="image" />
        {% else %}
        <img src="{{ profile.image.url }}" 
        alt="Profile image of {{ profile.user }}"
        class="image" />
        {% endif %}
      </div>
    </div>
    <a href="{% url 'update_profile' profile.user.id %}" class="button" aria-label="Go to update profile page">
      Update Profile ></a
    >
  </section>
</div>

{% endblock %}
