{% extends "base.html" %} {% load i18n %} 
{% block title %} Sign Up - DocuMe{% endblock %}
 {% block content %}
 <!-- SIGN UP  FORM -->
<div class="container signup-page">
  <div class="">
    <h1>{% trans "Sign Up" %}</h1>
  </div>
  <div class="">
    <form
      class=""
      id="signup_form"
      method="post"
      action="{% url 'account_signup' %}">
      {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="button" type="submit" aria-label="Sign up button">
        {% trans "Sign Up" %} &raquo;
      </button>
    </form>
  </div>
</div>

{% endblock %}
