{% extends 'base.html' %}
{% block title %} Update Profile - DocuMe{% endblock %}
{% block content %}

<!-- UPDATE PROFILE FORM -->
<section class="container update-profile">
  <div class="back-button">
    <a href="{% url 'view_profile' %}" aria-label="Redirect to users profile"><i class="fas fa-long-arrow-alt-left"></i>Back to Profile</a>
  </div>
  <h1>Update Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" aria-label="Update profile button">Update Profile</button>
  </form>
</section>
{% endblock %}