@import "./colors";
@import "./normalize";

// Media queries

$small: 640px;
$medium: 1024px;
$large: 1300px;
$xlarge: 1600px;

@mixin small-down() {
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin medium-down() {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin large-down() {
  @media screen and (max-width: $large) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $white;
}

h1,
h2 {
  font-weight: 500;
  margin: unset;
}

p {
  margin: unset;
}

body {
  background-color: $body;
  font-family: Inter, sans-serif;
  color: $white;

  .navbar {
    display: grid;
    grid-template-columns: 8fr 4fr;
    align-items: center;

    ul li {
      display: inline;
      list-style: none;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $white;
      }
    }

    .login-button a {
      color: $primary;
    }
  }

  .menuburguer {
    display: none;
  }
}

.button {
  display: inline-block;
  padding: 14px 16px;
  background-color: $secondary2;
  transition: 0.2s ease all;
  border-radius: 4px;
  text-align: center;
  &:hover {
    background-color: darken($secondary2, 3);
  }
}

.container {
  max-width: 1298px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer {
  padding: 80px 20px;

  .grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    justify-items: start;

    @include medium-down {
      grid-template-columns: 100%;
    }

    .logo-text {
      padding: 20px 0 40px 0;

      p {
        margin-top: 20px;
        font-size: 1.4em;
      }
    }

    .nav {
      list-style: none;
      li {
        margin-top: 10px;
      }
    }
  }
}

//----------------------------------- INDEX.html

.homepage {
  padding: 0;
  .homebanner {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: end;

      @include medium-down {
        grid-template-columns: 100%;
        gap: 40px;
        justify-items: center;
      }
      @include medium-down {
        padding-top: 100px;
      }
    }

    .left-side {
      gap: 10px;

      .title {
        font-size: 3rem;
        margin-bottom: 16px;
      }

      .text {
        margin-bottom: 16px;
      }
      .signup {
        color: $primary;
      }

      .buttons-container {
        @include medium-down {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
        margin-top: 20px;
      }
    }
  }

  .featured-banner {
    .title {
      font-size: 2.2rem;
      text-align: center;
    }

    .text {
      margin: 16px 0 40px 0;
      text-align: center;
    }
    .featureds-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include medium-down {
        grid-template-columns: 100%;
        justify-items: center;
      }
      gap: 50px;

      .feature-card {
        border-radius: 4px;
        overflow: hidden;
        .image {
          width: 100%;
          height: auto;
          max-height: 400px;
          min-height: 400px;
          object-fit: cover;
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .card-title {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
          }
          .card-date {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 300;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .call-to-action {
    margin-top: 80px;
    padding: 80px 0;
    text-align: center;
    background-color: $secondary;

    .title {
      font-size: 2rem;
      font-weight: 300;
      margin: 0;
      margin-bottom: 20px;
    }

    a {
      padding: 14px 36px;
    }
  }
}

.image-container {
  align-self: flex-end;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

//----------------------------------- EXPLORE.html

.explore-page {
  padding: 60px 0 40px 0;
  .heading {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;
  }
  .latest-container {
    display: flex;
    flex-direction: column;

    .featured-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .latest-card {
        border-radius: 4px;
        overflow: hidden;
        .image {
          width: 100%;
          height: auto;
          max-height: 200px;
          min-height: 200px;
          object-fit: cover;
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .card-title {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
          }
          .card-date {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 300;
            opacity: 0.8;
          }
        }
      }

      @include medium-down {
        grid-template-columns: repeat(2, 1fr);
      }

      @include small-down {
        grid-template-columns: 100%;
        padding: 0px;
      }
    }

    .subtitle {
      margin-top: 80px;
      font-size: 2rem;
    }

    .more-container {
      max-width: calc(150% / 2);
      @include small-down {
        max-width: 100%;
      }

      .more-card {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        justify-content: space-around;
        gap: 30px;
        margin-bottom: 15px;
        transition: 0.2s ease all;
        background-color: darken($body, 5);
        border-radius: 8px;
        padding: 10px;
        &:hover {
          background-color: darken($body, 3);
        }

        @include small-down {
          grid-template-columns: 100%;
        }

        .image-container {
          img {
            width: 100%;
            height: auto;
            max-height: 200px;
            min-height: 200px;
            object-fit: cover;
            border-radius: 4px;
          }
        }

        .intro {
          .card-title {
            color: $white;
            text-decoration: none;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }

          .card-text {
            color: $white;
            margin-bottom: 1rem;
            opacity: 0.8;
          }

          .card-bottom {
            opacity: 0.8;
            i {
              all: unset;
            }
          }

          .image-container {
            max-width: 300px;
          }
        }
      }
    }
  }
}

//----------------------------------- PROFILE.html

.profile-page {
  padding-top: 80px;

  /* Tabs styles */
  .tab {
    overflow: hidden;
    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      color: #ccc;
      margin-right: 30px;

      &.active {
        border-bottom: 2px solid #ccc;
      }
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
    }
  }
}
