@import "./normalize.scss";
@import "./colors.scss";



body {
  background-color: $body;
  font-family: Inter, sans-serif;
  color: $white;
  .menuburguer {
    display: none;
  }
}

.container {
     max-width: 1298px;
     margin: 0 auto;
     padding: 0 24px;
}
