{% load compress %} {% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>DocuMe</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'django_summernote/summernote-bs4.css' %}" />
    <script
      type="text/javascript"
      src="{% static 'django_summernote/summernote-bs4.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% compress css %}
    <link
      rel="stylesheet"
      type="text/x-scss"
      href="{% static 'css/style.scss' %}" />
    {% endcompress %}
  </head>

  <body class="">
    <!-- Navigation -->

    <div class="navbar-container container">
      <a class="" href="{% url 'home' %}">
        <img
          src="{% static 'images/logo.png' %}"
          class="logo"
          alt="docume logo" />
      </a>

      <nav class="mainNavbar" aria-label="Main">
        <ul>
          <button
            type="button"
            aria-expanded="false"
            aria-label="menu burguer"
            className="close-button"
            onclick="toggleMenu()"
            tabindex="">
            <div>X</div>
          </button>
          <li>
            <a href="{% url 'explore' %}">Explore Docs</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item has-submenu">
            <a href="#" aria-expanded="false">
              {{ user.username }}
              <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none">
                <path
                  d="M6 9L12 15L18 9"
                  stroke="#FFF"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>

            <ul>
              <li><a href="{% url 'view_profile' %}">Profile <i class="far fa-id-card"></i> </a></li>
              <li><a href="{% url 'docs' %}">Docs <i class="fas fa-code"></i></a></li>
              <li><a href="{% url 'favourites' %}">Favourites <i class="fas fa-bookmark"></i></a></li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="login-button">
            <a href="{% url 'account_login' %}">Log in / Sign up</a>
          </li>
          {% endif %}
        </ul>
      </nav>

      <button
        type="button"
        aria-expanded="false"
        aria-label="menu burguer"
        className="menu-button"
        onclick="toggleMenu()">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>

    <main class="">
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="container footer">
      <div class="grid">
        <div class="logo-text">
          <img
            src="{% static 'images/logo.png' %}"
            class="logo"
            alt="docume logo" />
          <p class="">Share or Keep It Secret: Your Docs, Your Rules!</p>
        </div>

        <ul class="nav">
          <li>
            <a aria-current="page" href="{% url 'explore' %}">Explore Docs</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'view_profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a aria-current="page" href="{% url 'docs' %}">Docs </a>
          </li>
          <li class="nav-item">
            <a aria-current="page" href="{% url 'favourites' %}">Favourites </a>
          </li>
          {% else %}

          <li class="login-button">
            <a href="{% url 'account_login' %}">Log in / Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <hr />
      <p class="">© Docume 2023. All Rights Reserved</p>
    </footer>

    <script src="{% static '/js/script.js' %}"></script>
    <script
    src="https://kit.fontawesome.com/7dd26437c3.js"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
