{% extends "base.html" %} 
{% block title %}Create Post - DocuMe{% endblock %}
{% block content %}
<!-- CREATE POST FORM -->
<section class="container create-post">
  <div class="back-button">
    <a href="{% url 'docs' %}"  aria-label="Redirect to users Docs"><i class="fas fa-long-arrow-alt-left"></i>Back to Docs</a>
  </div>
  <h1>Create Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" aria-label="Create Post button">Create Post</button>
  </form>
</section>

{% endblock %}
