{% extends 'base.html' %} {% block content %}

<section class="container">
    <div class="">
        <h1 class="post-title">{{ docpost.title }}</h1>
        <p class="post-subtitle">{{ docpost.author }} | {{ docpost.created_on }}</p>
    </div>

    <div class="">
        {% if "placeholder" in docpost.featured_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
        {% else %}
        <img src=" {{ post.featured_image.url }}" width="100%">
        {% endif %}
    </div>
    <div class="container">
        <div class="card-body">
            <p class="card-text ">
                {{ docpost.content | safe }}
            </p>
        </div>

</section>

{% endblock content %}