{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<section class="detail-page container">
    <div class="header">
        <h1 class="post-title">{{ docpost.title }}</h1>
        <p class="post-subtitle">{{ docpost.author }} | {{ docpost.created_on }}</p>
        {% if user.is_authenticated and docpost.author != user and docpost.public %}
        <a href="{% url 'add_to_favorites' docpost.id %}">Add to Favorites</a>
          {% endif %}
    </div>

        <div class="card-body">
            <p class="card-text ">
                {{ docpost.content | safe }}
            </p>
        </div>


        <div class="comments">
            <h3>Comments:</h3>

            <div>
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form  }}
                    {% csrf_token %}
                    <button type="submit" class="button ">Submit</button>
                </form>
                {% endif %}
   
            </div>

            <div class="">
                {% for comment in comments %}
                <div class="comments">
                    <p class="">
                        {{ comment.name }}
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>

                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        

</section>

{% endblock content %}