{% extends "base.html" %}
 {% block content %} 

<div class="explore-page">

  <h1 class="heading">LATEST</h1>

  <section class="latest-container">

    <div class="featured-cards">
    {% for post in docpost_list %}
      {% if forloop.counter <= 3 %}

        <div class="latest-card">
          <a href="{% url 'docpost_detail' post.slug  %}" class="latest-card-content">
                {% if "placeholder" in post.featured_image.url %}
                  <img class="image"  src="{{ post.image.url }}" alt="" />
                {% else %}
                  <img class="image" src="{{ post.featured_image.url }}" alt="" />
                {% endif %}
           
              <div class="text">
                <p class="card-title">{{ post.title }}</p>
                <p class="card-date">
                  {{ post.created_on }}
                </p>
                </div>
                </a>
              </div>

          {% endif %}
          {% endfor %}
        </div>


    <h3 class="subtitle">More</h3>

    <div class="more-container">

      {% for post in docpost_list %}
        {% if forloop.counter >= 4 %}
    
        <div class="more-card">
          <a href="{% url 'docpost_detail' post.slug  %}" class="">
            <div class="intro">  
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.excerpt }}</p>

                <p class="card-bottom">  {{ post.created_on }} by <i> {{ post.author }} </i> </p>
              </div>
            </a>
            <a href="{% url 'docpost_detail' post.slug  %}" class="post-link">
                <div class="image-container">
                  {% if "placeholder" in post.featured_image.url %}
                    <img src="{{ post.image.url }}" alt="" />
                  {% else %}
                    <img src="{{ post.featured_image.url }}" alt="" />
                  {% endif %}                  
                </div>

                </a>
          </div>

        {% endif %}
      {% endfor %}

  </section>


</div>
  

{% endblock %}
