{% extends "base.html" %}
{% block title %} Explore - DocuMe{% endblock %}
{% block content %}
  <div class="container explore-page">
      <h1 class="heading">Latest Docs</h1>
      <!-- LAST 3 POSTS -->
      <div class="featureds-container">
        {% for post in docpost_list %}
          {% if forloop.counter <= 3 %}
            <div class="featured-card">
              <a href="{% url 'docpost_detail' post.slug %}" class="featured-card-inner">
                <p class="card-title">{{ post.title }}</p>
                <p class="card-date">{{ post.created_on|date:"D d M Y" }}</p>
              </a>
              <div class="card-bottom">
                <span> by</span>   <a href="{% url 'public_profile' username=post.author %}" class="user-tag"  aria-label="Rediect to authors profile page">{{ post.author }}</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        </div>
        

        <!-- OTHER POSTS -->
        <h3 class="subtitle">More</h3>
        <div class="more-container">
          {% for post in docpost_list %}
          {% if forloop.counter > 3 %}
            <div class="more-card">
              <a href="{% url 'docpost_detail' post.slug %}" class="">
                <div class="intro">
                  <h4 class="card-title">{{ post.title }}</h4>
                  <p class="card-text">{{ post.excerpt }}</p>
                <span> {{ post.created_on }}</span> <span> by</span>  <a href="{% url 'public_profile' username=post.author %}" class="user-tag"  aria-label="Rediect to authors profile page">{{ post.author }}</a>
                </div>
              </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>

  </div>
{% endblock %}