{% extends "base.html" %} {% block content %} {% load static %}

<section class="homepage">
  <!--  HOME BANNER -->
  <section class="container homebanner">
    <div class="grid">
      <div class="left-side">
        <h1 class="title">Effortless & Flexible Writing for Everyone</h1>
        <p class="text">
          Capture, store, and access your notes and code easily. docuMe -
          because your ideas deserve to be easily revisited."
        </p>
        <div class="buttons-container">
          {% if user.is_authenticated != True %}
          <a href="{% url 'account_login' %}" class="button signup"
            >Login in / Sign Up</a
          >
          {% endif %}
          <a href="{% url 'explore' %}" class="button" aria-label="Go to explore docs">Explore Docs</a>
        </div>
      </div>
      <div class="image-container">
        <img src="https://res.cloudinary.com/dtycp96d8/image/upload/v1700431464/image-homebanner_qufedj.png" alt="home banner code image"/>
      </div>
    </div>
  </section>
  <!--   CALL TO ACTION BANNER -->
  <section class="call-to-action">
    <div class="container">
      <h4 class="title">Advance Your Code Journey: Save, Share, Elevate</h4>
      {% if user.is_authenticated != True %}
      <a href="{% url 'account_login' %}" class="button signup" aria-label="Go to Sign up page"> Sign Up</a>
      {% else %}
      <a href="{% url 'create_post' %}" class="button signup" aria-label="Go to Create Doc page "> Create Doc</a>
      {% endif %}
    </div>
  </section>
    <!--  FEATURED BANNER -->
    <section class="container featured-banner">
      <h2 class="title">Store, Share & Repeat</h2>
      <p class="text">
        Save your post or anyones post to visit later, and you can even publish
        and share them with the world
      </p>
      <div class="featureds-container">
        <h3 class="container">Latests</h3>
        {% for post in docpost_list %} {% if forloop.counter <= 5 %}
  
        <div class="featured-card">
          <a
            href="{% url 'docpost_detail' post.slug  %}"
            class="featured-card-inner"
            aria-label="Go to {{ post.title }} {{post.created_on }}  by {{ post.author }} "
            >
              <p class="card-title">{{ post.title }}</p>
              <p class="card-date">{{post.created_on|date:"D d M Y"}}</p>
              <div class="card-bottom">
                <span> by</span>   <a href="{% url 'public_profile' username=post.author %}" class="user-tag"  aria-label="Rediect to authors  {{ post.author }} profile page">{{ post.author }}</a>
              </div>
  
          </a>
        </div>
        {% endif %} {% endfor %}
      </div>
    </section>
</section>
{% endblock %}
