{% extends "base.html" %} {% block content %}


<div class="profile-page container">
  <nav class="secondary-navbar">
    <ul>
      <li><a href="{% url 'view_profile' %}">Profile</a></li>
      <li>
        <a href="{% url 'docs' %}">Docs</a>
      </li>
      <li>
        <a href="{% url 'favourites' %}">Favourites</a>
      </li>
    </ul>
  </nav>

  <h2> UPDATE POST </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Post</button>
</form>


</div>

{% endblock %}
