{% extends "base.html" %} {% block content %}

<script>
            document.getElementById("docsTab").click();
</script>

<div class="profile-page">
  <div class="tab">
    <button
      class="tablinks"
      onclick="openTab(event, 'Profile')"
      id="defaultOpen">
      Profile
    </button>
    <button class="tablinks" id="docsTab" onclick="openTab(event, 'Docs')">Docs</button>
  </div>

  <div id="Profile" class="tabcontent">
    <h1>{{ profile.user }}</h1>
    <p>{{ profile.name }}</p>
    <p>{{ profile.email }}</p>
    <p>{{ profile.title }}</p>
    <span> {{ profile.birth_date }} </span>
    {% autoescape off %}
    <p>{{ profile.bio|safe }}</p>
    {% endautoescape %} {% if "placeholder" in profile.image.url %}
    <img
      src="https://res.cloudinary.com/dtycp96d8/image/upload/v1699567764/he7p20dklbt6lvtnmm38.png"
      width="100%" />
    {% else %}
    <img src="{{ profile.image.url }}" width="100%" />
    {% endif %}


  </div>

  <div id="Docs" class="tabcontent">

  <h2> UPDATE POST </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Post</button>
</form>

  </div>
</div>

{% endblock %}
